---
import Layout from "../layouts/Layout.astro";
export const prerender = true;
---

<Layout>
  <main
    class="flex flex-cols justify-center gap-4 mt-[100px] md:mt-[130px] mb-[50px] md:h-[1000px]"
  >
    <aside
      class="bg-[#BBD6E3] relative md:flex md:flex-rows gap-4 alight-center rounded-lg text-xl w-[400px]"
    >
      <div
        class="max-w-[300px] md:absolute rounded-lg md:-left-50 pl-[20px] gap-6 flex flex-col justify-center md:h-full bg-[#BBD6E3]"
      >
        <h1>Mi historia</h1>
        <p>
          ¡Konnichiwa! Soy Eliza-chan, una psicóloga apasionada por comprender
          las intrincadas conexiones de la mente humana. Mi enfoque terapéutico
          se nutre de una perspectiva integradora, combinando herramientas y
          técnicas de diversas corrientes psicológicas para adaptarme a las
          necesidades únicas de cada individuo. Creo firmemente en el poder de
          la empatía, la escucha activa y la colaboración para fomentar la
          autoconciencia, promover la resiliencia y facilitar el cambio
          positivo.
        </p>
        <p>
          Fuera de la consulta, me intereso por el arte, la naturaleza, la
          cultura japonesa. Estas pasiones enriquecen mi perspectiva y me
          permiten conectar con mis pacientes a un nivel más humano. Si estás
          buscando un apoyo profesional en tu camino hacia el bienestar
          emocional, te invito a contactarme. Estoy aquí para escucharte sin
          juicios y acompañarte en tu proceso de crecimiento. ¡Espero tener la
          oportunidad de conocerte!
        </p>
      </div>

      <img
        src="/Elizabeth anime.webp"
        alt="Eliza-chan"
        class="Eli-chan-2 size-150 object-scale-down self-center rounded-full md:absolute md:-right-50"
      />
    </aside>
  </main>
</Layout>
