---
import ToTop from "./Icons/ToTop.astro";
---

<footer
  class="flex flex-col md:grid md:grid-cols-3 md:gap-4 place-content-around items-center h-[100px] bg-[#252529] text-white p-4 gap-4"
>
  <div
    class="col-span-2 flex flex-rows gap-4 place-content-around items-center"
  >
    <a
      href="/condiciones"
      class="hover:text-[#466C7F] transition-all md:grid-span"
    >
      <p>Términos y Condiciones</p>
    </a>
    <a
      href="/politica"
      class="hover:text-[#466C7F] transition-all md:grid-span"
    >
      <p>Política de Privacidad</p>
    </a>
  </div>

  <p class="text-center">© 2025 Mentes Sanas</p>

  <a
    href="#top"
    id="toTop"
    class="fixed z-20 right-2 bottom-25 bg-[gray] md:hidden border border-white rounded-full p-2 hover:bg-[#252529] transition"
    ><ToTop class="size-12" /></a
  >
</footer>
