<a href="/" class="nav-link"
  ><span class="enlace hover:text-[#466C7F] transition-all">Inicio</span></a
>
<a href="/about" class="nav-link"
  ><span class="enlace hover:text-[#466C7F] transition-all">Nosotros</span></a
>
<a href="/contacto" class="nav-link"
  ><span class="enlace hover:text-[#466C7F] transition-all">Contacto</span></a
>
